<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Permisos -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CAMERA"/>

    <!-- Características requeridas -->
    <uses-feature android:name="android.hardware.camera.ar" android:required="true"/>

    <!-- Meta-data para ARCore -->
    <meta-data android:name="com.google.ar.core" android:value="required" />
</manifest>
